<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div class="col-xl-10 col-lg-10" th:fragment="navi(activeTab)">
    <div class="menu-wrapper  d-flex align-items-center justify-content-end">
        <!-- Main-menu -->
        <div class="main-menu d-none d-lg-block">
            <nav>
                <ul id="navigation">
                    <li th:classappend="${activeTab == 'Home' ? 'active' : ''}"><a th:href="@{/}">Home</a></li>
                    <li th:classappend="${activeTab == 'Shop' ? 'active' : ''}"><a th:href="@{/shop}">Товары</a></li>
                    <!--<li><a th:href="@{/order}">Заказ</a></li>-->
                    <li th:classappend="${activeTab == 'Categories' ? 'active' : ''}"><a th:href="@{/categories}">Категории</a></li>
                    <li th:classappend="${activeTab == 'Cart' ? 'active' : ''}"><a th:href="@{/cart}">Корзина</a></li>

                    <li sec:authorize="isAnonymous()">
                        <a th:href="@{/login}">Войти</a>
                    </li>
                    <li sec:authorize="isAuthenticated()">
                        <form th:action="@{/logout}" method="POST">
                            <input type="submit" class="btn btn-danger" value="Выйти"/>
                        </form>
                    </li>

                </ul>
            </nav>
        </div>
        <!-- Header-btn -->
        <div class="header-right-btn d-none d-lg-block ml-65">
            <a href="contact.html" class="border-btn">Post a Job</a>
        </div>
    </div>
</div>
<!-- Mobile Menu -->
<div class="col-12">
    <div class="mobile_menu d-block d-lg-none"></div>
</div>

</body>
</html>